/* 主標題 */
.title {
    padding: 7px 0;
}

/* 商品選單 */
.menu-link.active {
    color: var(--primary_color-400);
}

/* 分頁 */
.page-link {
    padding: 8px 15.5px;
}

.page-link.active {
    background-color: var(--primary_color-300);
}

.page-link.disabled {
    color: var(--neutral_color-600);
}