/* ＝＝預載設定＝＝ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* ＝＝共用設定＝＝ */
/* 變數 */
:root {
  --global-font: "Noto Sans TC", sans-serif;

  --container-lg: 1320px;
  --container-fluid: 100%;

  --primary_color-100: #F5FEE7;
  --primary_color-200: #E8FEC5;
  --primary_color-300: #C0FA73;
  --primary_color-400: #57A203;
  --primary_color-500: #477A11;

  --neutral_color-0: #FFFFFF;
  --neutral_color-100: #F8F9FA;
  --neutral_color-200: #E9ECEF;
  --neutral_color-300: #DEE2E6;
  --neutral_color-400: #CED4DA;
  --neutral_color-500: #ADB5BD;
  --neutral_color-600: #6C757D;
  --neutral_color-700: #495057;
  --neutral_color-800: #343A40;
  --neutral_color-900: #212529;

  --danger_color-100: #FCF1F1;
  --danger_color-200: #EBA7A7;
  --danger_color-300: #E9ECEF;
  --danger-300: #D74F4F;

  --success_color-100: #EFF8F4;
  --success_color-200: #9AD1BA;
  --success_color-300: #36A375;

  --warning_color-100: #FEF6EC;
  --warning_color-200: #F9C588;
  --warning_color-300: #F38B12;

  --info_color-100: #EEF5FC;
  --info_color-200: #97C3ED;
  --info_color-300: #3087DB;

  --display-1-font-size: 4rem;
  --display-2-font-size: 3rem;
  --tw-headings-h1: 2.5rem;
  --tw-headings-h2: 2rem;
  --tw-headings-h3: 1.75rem;
  --tw-headings-h4: 1.5rem;
  --tw-headings-h5: 1.25rem;
  --tw-headings-h6: 1rem;

  --tw-label-lg: 1.25rem;
  --tw-label-md: 1rem;
  --tw-label-sm: 0.875rem;
  --tw-label-xs: 0.75rem;

  --tw-paragraph-lg: 1.25rem;
  --tw-paragraph-md: 1rem;
  --tw-paragraph-sm: 0.875rem;
  --tw-paragraph-xs: 0.75rem;

  --tw-weight-400: 400;
  --tw-weight-500: 500;
  --tw-weight-600: 600;
  --tw-weight-700: 700;

  --tw-heading-line-height: 1.2;
  --tw-label-line-height: 1.5;
  --tw-letter-spacing: 0.05em;

  --spacing-xxs: 4px;
  --spacing-xxs-burden: -4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px; 
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 56px;
  --spacing-5xl: 64px;
  --spacing-6xl: 80px;
  --spacing-s-burden: -12px;

  --radius-sm: 4px;
  --radius-md: 12px;
  --radius-rounded: 100px;

  --text-primary: var(--neutral_color-900);
  --text-secondary: var(--neutral_color-600);
  --text-muted: var(--neutral_color-500);
  --text-highlight: var(--primary_color-400);
  --text-on-dark: var(--neutral_color-0);
}

/* 主選單 */
.navigationBar-link {
  font-weight: var(--tw-weight-500);
  text-decoration: none;
}

.member-login {
  display: block;
  padding: var(--spacing-s);
  margin-left: auto;
}

.member-login img {
  width: 18px;
}

/* 麵包屑 */
.navigationBar-link.disabled {
  color: var(--neutral_color-600);
}

.breadcrumb-items + .breadcrumb-items::before {
  content:"/";
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  color: var(--neutral_color-300);
}

/* 按鈕 */
.btn {
  font-size: var(--tw-label-md);
  font-weight: var(--tw-weight-500);
  line-height: var(--tw-label-line-height);
  letter-spacing: var(--tw-letter-spacing);
  text-align: center;
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
  background-color: transparent;
  border: 0 none transparent;
  cursor: pointer;
}

.btn-dark {
  background-color: var(--neutral_color-900);
  color: var(--neutral_color-0);
}

.btn-dark:hover {
  background-color: var(--neutral_color-700);
}

.btn-white {
  background-color: var(--neutral_color-0);
  border: 1px solid var(--neutral_color-900);
}

.btn-white:hover {
  background-color: var(--neutral_color-900);
  color: var(--neutral_color-0);
}

/* 盒模型 */
*,*::before,
*::after {
    box-sizing: border-box;
}

/* 文檔主體 */
body {
    font-family: var(--global-font);
    line-height: var(--tw-label-line-height);
    letter-spacing: var(--tw-letter-spacing);
    color: var(--neutral_color-900);
}

/* 標籤 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
  color: var(--neutral_color-900);
  text-decoration: none;
}

a:hover {
  color: var(--primary_color-500);
}

/* 容器 */
[class*="container-"] {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
}

.container-lg {
  max-width: var(--container-lg);
  margin: 0 auto;
}

.container-fluid {
  width: var(--container-fluid);
}

/* 結構 */
.footer {
  text-align: center;
}

/* 區塊元素 */
.d-block {
  display: block;
}

/* flex */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

/* 圓角 */
.borderRadius-4 {
  border-radius: var(--spacing-xxs);
}

.borderRadius-12 {
  border-radius: var(--radius-md);
}

/* 網格 */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--spacing-s-burden);
  margin-right: var(--spacing-s-burden);
}

[class*="col-"] {
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
}

.col {
  width: calc(100%/12);
}

.col-2 {
  width: calc(100%/12*2);
}

.col-3 {
  width: calc(100%/12*3);
}

.col-4 {
  width: calc(100%/12*4);
}

.col-5 {
  width: calc(100%/12*5);
}

.col-6 {
  width:calc(100%/12*6);
}

.col-7 {
  width: calc(100%/12*7);
}

.col-8 {
  width: calc(100%/12*8);
}

.col-10 {
  width: calc(100%/12*10);
}

.col-11 {
  width: calc(100%/12*11);
}

.col-12 {
  width: 100%;
}

/* 距離 */
.p-12 {
  padding: var(--spacing-s);
}

.p-32 {
  padding: var(--spacing-xl);
}

.ps-12 {
  padding-left: var(--spacing-s)
}

.px-4 {
  padding-left: var(--spacing-xxs);
  padding-right: var(--spacing-xxs);
}

.px-24 {
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.pt-32 {
  padding-top: var(--spacing-xl);
}

.pt-40 {
  padding-top: var(--spacing-2xl);
}

.pt-48 {
  padding-top: var(--spacing-3xl);
}

.pt-64 {
  padding-top: var(--spacing-5xl);
}

.pb-12 {
  padding-bottom: var(--spacing-s);
}

.pb-48 {
  padding-bottom: var(--spacing-3xl);
}

.py-4 {
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
}

.py-8 {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.py-12 {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

.py-24 {
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
}

.py-16 {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.py-32 {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.py-48 {
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
}

.py-64 {
  padding-top: var(--spacing-5xl);
  padding-bottom: var(--spacing-5xl);
}

.me-8 {
  margin-right: var(--spacing-xs);
}

.me-12 {
  margin-right: var(--spacing-s);
}

.me-24 {
  margin-right: var(--spacing-l);
}

.me-40 {
  margin-right: var(--spacing-2xl);
}

.me-48 {
  margin-right: var(--spacing-3xl);
}

.ms-auto {
  margin-left: auto;
}

.mb-4 {
  margin-bottom: var(--spacing-xxs);
}

.mb-8 {
  margin-bottom: var(--spacing-xs);
}

.mb-12 {
  margin-bottom: var(--spacing-s);
}

.mb-16 {
  margin-bottom: var(--spacing-m);
}

.mb-24 {
  margin-bottom: var(--spacing-l);
}

.mb-32 {
  margin-bottom: var(--spacing-xl);
}

.mb-48 {
  margin-bottom: var(--spacing-3xl);
}

.mb-64 {
  margin-bottom: var(--spacing-5xl);
}

.mb-80 {
  margin-bottom: var(--spacing-6xl);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-4-burden {
  margin-left: var(--spacing-xxs-burden);
  margin-right: var(--spacing-xxs-burden);
}

/* 尺寸 */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

/* 文字字體 */
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: var(--tw-heading-line-height);
  font-weight: var(--tw-weight-700);
}

.h1 {
  font-size: var(--tw-headings-h1);  
}

.h2 {
  font-size: var(--tw-headings-h2);
}

.h3 {
  font-size: var(--tw-headings-h3);
}

.h4 {
  font-size: var(--tw-headings-h4);
}

.h5 {
  font-size: var(--tw-headings-h5);
}

.h6 {
  font-size: var(--tw-headings-h6);
}

.tw-label-md {
  font-size: var(--tw-label-md);
  font-weight: var(--tw-weight-500);
}

[class*=".tw-paragraph-"] {
  font-weight: var(--tw-weight-400);
}

.tw-paragraph-md {
  font-size: var(--tw-paragraph-md);
  
}

.tw-paragraph-sm {
  font-size: var(--tw-paragraph-sm);
}

/* 文字權重 */
.tw-weight-400 {
  font-weight: 400;
}

.tw-weight-500 {
  font-weight: 500;
}

.tw-weight-600 {
  font-weight: 600;
}

.tw-weight-700 {
  font-weight: 700;
}

/* 文字顏色 */
.text-neutral-white {
  color: var(--neutral_color-0);
}

.text-neutral-500 {
  color: var(--neutral_color-500);
}

.text-neutral-600 {
  color: var(--neutral_color-600);
}

.text-neutral-900 {
  color: var(--neutral_color-900);
}

.text-primary-400 {
  color: var(--primary_color-400);
}

/* 文字居中 */
.text-center {
  text-align: center;
}

/* 背景顏色 */
.bk-primary-200 {
  background-color: var(--primary_color-200);
}

.bk-primary-100 {
  background-color: var(--primary_color-100);
}

.bk-neutral-white {
  background-color: var(--neutral_color-0);
}

.bk-neutral-100 {
  background-color: var(--neutral_color-100);
}

.bk-neutral-900 {
  background-color: var(--neutral_color-900);
}

.border-top-1 {
  border-top: 1px solid var(--neutral_color-300);
}

.border-bottom-1 {
  border-bottom: 1px solid var(--neutral_color-300);
}