/* 背景顏色 */
.bk-primary-200 {
  background-color: var(--primary_color-200);
}

.bk-primary-100 {
  background-color: var(--primary_color-100);
}

.bk-neutral-white {
  background-color: var(--neutral_color-white);
}

.bk-neutral-100 {
  background-color: var(--neutral_color-100);
}

.bk-neutral-900 {
  background-color: var(--neutral_color-900);
}

.border-top-1 {
  border-top: 1px solid var(--neutral_color-300);
}