/* 間距 */
.p-32 {
  padding: var(--spacing-xl);
}

.ps-12 {
  padding-left: var(--spacing-s)
}

.px-4 {
  padding-left: var(--spacing-xxxs);
  padding-right: var(--spacing-xxxs);
}

.pt-8 {
  padding-top: var(--spacing-xs);
}

.pt-32 {
  padding-top: var(--spacing-xl);
}

.pt-48 {
  padding-top: var(--spacing-3xl);
}

.pt-64 {
  padding-top: var(--spacing-5xl);
}

.pb-12 {
  padding-bottom: var(--spacing-s);
}

.pb-48 {
  padding-bottom: var(--spacing-3xl);
}

.py-4 {
  padding-top: var(--spacing-xxxs);
  padding-bottom: var(--spacing-xxxs);
}

.py-8 {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.py-12 {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

.py-24 {
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
}

.py-16 {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.py-32 {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.py-48 {
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
}

.py-64 {
  padding-top: var(--spacing-5xl);
  padding-bottom: var(--spacing-5xl);
}

@media (max-width: 768px) {
  .p-md-24 {
    padding: var(--spacing-l);
  }
  .px-md-12 {
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
  }

  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-md-12 {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
  }

  .py-md-16 {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
  }

  .py-md-32 {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }

  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pt-md-24 {
    padding-top: var(--spacing-l);
  }
  
  .pt-md-32 {
    padding-top: var(--spacing-xl);
  }

  .pb-md-32 {
    padding-bottom: var(--spacing-xl);
  }
}

@media (max-width: 576px) {
  .p-sm-24 {
    padding: var(--spacing-l);
  }
  .px-sm-12 {
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
  }

  .py-sm-12 {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
  }

  .py-sm-16 {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
  }

  .py-sm-32 {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }

  .pt-sm-24 {
    padding-top: var(--spacing-l);
  }

  .pt-sm-32 {
    padding-top: var(--spacing-xl);
  }

  .pb-sm-32 {
    padding-bottom: var(--spacing-xl);
  }
}

.me-8 {
  margin-right: var(--spacing-xs);
}

.me-12 {
  margin-right: var(--spacing-s);
}

.me-24 {
  margin-right: var(--spacing-l);
}

.me-40 {
  margin-right: var(--spacing-2xl);
}

.me-48 {
  margin-right: var(--spacing-3xl);
}

.ms-auto {
  margin-left: auto;
}

.mb-4 {
  margin-bottom: var(--spacing-xxxs);
}

.mb-8 {
  margin-bottom: var(--spacing-xs);
}

.mb-12 {
  margin-bottom: var(--spacing-s);
}

.mb-16 {
  margin-bottom: var(--spacing-m);
}

.mb-24 {
  margin-bottom: var(--spacing-l);
}

.mb-32 {
  margin-bottom: var(--spacing-xl);
}

.mb-48 {
  margin-bottom: var(--spacing-3xl);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-4-burden {
  margin-left: var(--spacing-xxxs-burden);
  margin-right: var(--spacing-xxxs-burden);
}

@media (max-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0;
  }

  .mb-md-24 {
    margin-bottom: var(--spacing-l);
  }
  
  .mb-md-32 {
    margin-bottom: var(--spacing-xl);
  }

  .mb-md-16 {
    margin-bottom: var(--spacing-m);
  }

  .mb-md-12 {
    margin-bottom: var(--spacing-s);
  }

  .mb-md-8 {
    margin-bottom: var(--spacing-xs);
  }

  .me-md-0 {
    margin-right: 0;
  }

  .me-md-8 {
    margin-right: var(--spacing-xs);
  }

  .me-md-16 {
    margin-right: var(--spacing-m);
  }

  .ms-md-12 {
    margin-left: var(--spacing-s);
  }
}

@media (max-width: 576px) {
  .mb-sm-24 {
    margin-bottom: var(--spacing-l);
  }

  .mb-sm-32 {
    margin-bottom: var(--spacing-xl);
  }

  .mb-sm-16 {
    margin-bottom: var(--spacing-m);
  }

  .mb-sm-12 {
    margin-bottom: var(--spacing-s);
  }

  .mb-sm-8 {
    margin-bottom: var(--spacing-xs);
  }

  .me-sm-16 {
    margin-right: var(--spacing-m);
  }

  .ms-sm-12 {
    margin-left: var(--spacing-s);
  }
}