/* 按鈕 */
.btn {
  padding: 0;
  background-color: transparent;
  border: 0 none transparent;
  font-size: var(--tw-label-md);
  font-weight: var(--tw-weight-500);
  line-height: var(--tw-label-line-height);
  letter-spacing: var(--tw-letter-spacing);
  text-align: center;
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
  cursor: pointer;
  display: block;
}

.btn:hover {
  background-color: var(--neutral_color-100);
}

.btn-neutral-filled {

}

.btn-dark {
  background-color: var(--neutral_color-900);
  color: var(--neutral_color-white);
}

.btn-dark:hover {
  background-color: var(--neutral_color-700);
}

.btn-white {
  background-color: var(--neutral_color-white);
  border: 1px solid var(--neutral_color-900);
}

.btn-white:hover {
  background-color: var(--neutral_color-900);
  color: var(--neutral_color-white);
}

@media (max-width: 767px) {
  .btn-neutral-filled {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
  }
}