/* 商品詳情頁格線 */
.row-detailed {
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--spacing-xxxs-burden);
    margin-right: var(--spacing-xxxs-burden);
}

.col-detailed-6 {
    width: calc(100%/12*6);
    padding-left: var(--spacing-xxxs);
    padding-right: var(--spacing-xxxs);
}

@media (max-width: 768px) {
    .container-md {
        padding-left: 0;
        padding-right: 0;
    }

    .row-md-detailed {
        margin-left: 0;
        margin-right: 0;
    }

    .col-md-detailed-12 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

/* 價格 */
.original-price {
    font-size: var(--tw-paragraph-sm);
    font-weight: var(--tw-weight-400);
    line-height: var(--tw-label-line-height);
    color: var(--neutral_color-500);
}

/* 顏色 */
.product-color {
    width: var(--spacing-5xl);
}

.product-color-text {
    font-size: var(--tw-label-md);
    line-height: var(--tw-label-line-height);
    text-align: center;
    color: var(--neutral_color-600);
}

/* 尺寸 */
.row-size {
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--spacing-xxxs-burden);
    margin-right: var(--spacing-xxxs-burden);
}

[class*="col-size-"] {
    padding-left: var(--spacing-xxxs);
    padding-right: var(--spacing-xxxs);
}

.col-size-4 {
    width: calc(100%/12*4);
}

@media (max-width:960px) {
    .col-lg-size-2 {
        width: calc(100%/4*2);
    }
}

.option-btn {
    width: 100%;
    font-size: var(--tw-label-md);
    font-weight: var(--tw-weight-500);
    text-align: center;
    background-color: var(--neutral_color-0);
    border: 1px solid var(--neutral_color-300);
    border-radius: var(--spacing-xxxs);
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
}

.option-btn.active,
.option-btn:hover {
    border-color: var(--neutral_color-900);
}
/* 加入收藏&門市預約試穿 */
.shoppingButton {
    width: 100%;
    border-radius: var(--spacing-xxxs);
}

@media (max-width: 768px) {
    .shoppingButton {
        padding-left: var(--spacing-s);
        padding-right: var(--spacing-s);
        padding-top: var(--spacing-s);
        padding-bottom: var(--spacing-s);
    }

    .visually-hidden-button {
        height: 48px;
        border: 0 solid transparent;
    }

    .visually-hidden-button i {
        font-size: var(--tw-headings-h4);
        line-height: 1;
        display: inline-block;
        height: var(--spacing-l);
    }

    .visually-hidden-button span {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0); 
        white-space: nowrap;
        border: 0;
    }
}

/* 商品說明 */
.product-items {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    border-bottom: 1px solid var(--neutral_color-300);
}

.product-content {
    font-size: var(--tw-paragraph-md);
    color: var(--neutral_color-600);
}

/* 你可能也喜歡... */
.bestSeller-title {
    padding: 9.5px 0px;
}

@media (max-width: 768px) {
    .bestSeller-title {
        padding-top: var(--spacing-xs);
        padding-bottom: var(--spacing-xs);
    }

    .row-md-bestSeller {
        flex-wrap: nowrap;
        overflow-y: scroll;
    }

  .col-md-bestSeller {
    width: 100%;
    flex-shrink: 0;
  }
}